<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<div class="bgimg w3-display-container w3-animate-opacity w3-text-orange">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        
<p>login works!</p>
    </div>
<div class="w3-display-middle w3-xlarge">
<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; username <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ****** <br>
<a href="angularhome"><button class="w3-animate-right w3-btn">Login to Angularhome</button></a>
</div>
</div>